@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  user-select: none;
}

body,
html {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.nav-wrapper {
  width: 95%;
  max-width: 900px;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fef7e2;
  padding: 2rem 0.5rem;
  border-radius: 90px;
}
.nav-wrapper a {
  color: currentColor;
}

.nav-link {
  background: #ffdf7e;
  padding: 0.7rem 1.5rem;
  border-radius: 50px;
  transition: 0.3s;
}
.nav-link p {
  font-size: 0.9rem;
}
.nav-link:hover {
  background: #dfb63d;
  color: #fef7e2;
}

.nav-bigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  padding: 0.7rem 2.5rem;
}
.nav-bigger p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
}
.img-wrapper {
  width: 60px;
  height: 60px;
}
.img-wrapper img {
  width: 100%;
}
